---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.operatorNamespace | default "eevee-system" }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-operator
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-operator-leader-election-role
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-connectorirc-admin-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs
  verbs:
  - '*'
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-connectorirc-editor-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-connectorirc-viewer-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-natscluster-admin-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - natsclusters
  verbs:
  - '*'
- apiGroups:
  - eevee.bot
  resources:
  - natsclusters/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-natscluster-editor-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - natsclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - natsclusters/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-natscluster-viewer-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - natsclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - natsclusters/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eevee-operator-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eevee-operator-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eevee-operator-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs/finalizers
  verbs:
  - update
- apiGroups:
  - eevee.bot
  resources:
  - connectorircs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - eevee.bot
  resources:
  - toolboxes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - toolboxes/finalizers
  verbs:
  - update
- apiGroups:
  - eevee.bot
  resources:
  - toolboxes/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-toolbox-editor-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - toolboxes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - toolboxes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-toolbox-viewer-role
rules:
- apiGroups:
  - eevee.bot
  resources:
  - toolboxes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - eevee.bot
  resources:
  - toolboxes/status
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-operator-leader-election-rolebinding
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: eevee-operator-leader-election-role
subjects:
- kind: ServiceAccount
  name: eevee-operator
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: eevee-operator-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: eevee-operator-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: eevee-operator
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
  name: eevee-operator-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: eevee-operator-role
subjects:
- kind: ServiceAccount
  name: eevee-operator
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee
    control-plane: eevee
  name: eevee-operator-metrics-service
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app.kubernetes.io/name: eevee-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: eevee-operator
    control-plane: eevee
  name: eevee-operator
  namespace: {{ .Values.operatorNamespace | default "eevee-system" }}
spec:
  replicas: {{ .Values.operator.replicas | default 1 }}
  selector:
    matchLabels:
      control-plane: eevee
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: operator
      labels:
        control-plane: eevee
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - arm64
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
      containers:
      - args:
        - --metrics-bind-address=:8443
        - --leader-elect
        - --health-probe-bind-address=:8081
        command:
        - /operator
        env: []
        image: ghcr.io/eeveebot/operator:latest
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: operator
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 2000m
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: eevee-operator
      terminationGracePeriodSeconds: 10
